<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run to Win</title>
    <script src="https://kit.fontawesome.com/5375db3687.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="assets/img/Run to Win Logo.png">
    {{!-- <link rel="stylesheet" href="/css/login.css"> --}}
    <link rel="stylesheet" href={{style}}>
    <link rel="stylesheet" href={{style2}}>
    <link rel="stylesheet" href={{style3}}>
    <link rel="stylesheet" href={{style4}}>
    <link rel="stylesheet" href="/css/load.css">
    <script src={{js1}}></script>
    <script src={{js2}}></script>
    <script src={{chart}}></script>
</head>
<body>
    {{{ body }}}
</body>
</html>